
#css{
background-color:yellow;
}
#Lua-pic{
padding-top:100px;
padding-left:50px;
}
#dog{
font:Arial;
padding-left:130px;
}
#text{
padding-top:50px;
font-weight:bold;
}
#quote{
color:green;
font-family:Calibri,Arial,Verdana;
}
